.content__icon {
  width: 3rem;
  padding: 0px;
  background-color: white;
  border-left: none;
}

.btn__login {
  width: 100%;
  background-color: #f9c444;
  color: black;
}

@media (max-width: 425px) {
  .contenedor__login {
    position: absolute;
    top: 10rem;
    /* min-width: 440px; */
  }
}
@media (max-width: 375px) {
  .contenedor__login {
    /* min-width: 390px; */
  }
}
@media (max-width: 320px) {
  .contenedor__login {
    /* min-width: 335px; */
  }
}
